<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteio</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div id="title"><h1>
            Sorteizada
        </h1></div>
    </header>

<div id="container">

    <div class="section">
<article>
    <section>
        <label for="inNum">Qual o seu numero?</label><br>
        <input type="number" name="inNum" id="inNum">
    </section>
</article> 

<article>
    <section>   
        <label for="inName">Qual o seu nome?</label><br>
        <input type="text" name="inName" id="inName">
    </section>
</article> 

<article>
    <section>
        <input type="button" value="Cadastrar" id="butaoCadastro" class="butao">
    </section>
</article> 

<article>
    <section>
        <input type="button" value="Sortear" class="butao">
    </section>
</article> 
    </div>
</div>

</body>
</html>